.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  border-top: 1px solid #282c34;
}

.Header-title {
  color: white;
}

.container {
  flex: 1;
  padding: 20px;
}